body {
    font-family: "Arial", sans-serif;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;  /* Cambiado de left a right */
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    color: white;
}

.sidebar .closebtn {
    position: absolute;
    top: 20px;
    left: 25px; /* Cambiado de right a left */
    font-size: 36px;
}

.sidebar h2 {
    padding-left: 15px;
}

.sidebar .profile-pic {
    display: block;
    margin: 15px auto;
    border-radius: 50%;
}

.sidebar p {
    padding: 15px;
    margin: 0;
}

.main-content {
    transition: margin-right 0.5s;  /* Cambiado de margin-left a margin-right */
    padding: 16px;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    border: none;
    padding: 10px 15px;
}

.openbtn:hover {
    background-color: #444;
}
