/* Inferior Izquierdo */

.anuncio {
    background-color: #f8f9fa;
    border: 1px solid #ced4da;
    border-radius: 10px;
    padding: 20px;
    width: 400px;
    height: 350px;
    position: absolute;
    left: 480px;
    top:auto;
    bottom: 0px;
}

.anuncio h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.anuncio p {
    font-size: 16px;
    margin-bottom: 15px;
}

.anuncio form {
    display: flex;
    flex-direction: column;
}

.anuncio label {
    font-size: 14px;
    margin-bottom: 5px;
}

.anuncio input[type="text"],
.anuncio input[type="number"] {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
}

.anuncio button {
    padding: 5px 50px;
    background-color: #007bff;
    color: #fff;
    border-radius: 30px;
    cursor: pointer;
    top: 290px;
    left: 250px;
}

.anuncio button:hover {
    
    background-color: #0056b3;
}

/* Inferior Derecho */

.marcas {
    background-color: #f8f9fa;
    border: 1px solid #ced4da;
    border-radius: 10px;
    padding: 20px;
    width: 520px;
    height: 350px;
    position: absolute;
    left: 900px;
    bottom: 0px;
}

.marcas ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.marcas li {
    flex: 0 0 33.33%;
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
}

.marcas img {
    max-width: 100%;
    display: block;
    margin: 0 auto 10px;
    height: 85px;
    width: auto;
}
