.cuadrado {
    width: 350px;
    height: 800px;
    background-color: rgba(0, 244, 163, 0);
    position: absolute;
    top: 118px; /* Ajusta la posición hacia abajo */
    right: 0px; /* Posiciona el cuadro en la esquina derecha */
    padding: 20px; /* Añade  separación interna */
    box-sizing: border-box; /* Incluye padding y border en el tamaño total */
}
.tipos{
    background-color: rgba(219, 219, 234, 0.006);
position: absolute;
top:2px;
left: auto;
right: 15px;


}
.tipovh{
    color: rgba(176, 157, 157, 0.906);
}

body {
    font-family: Arial, sans-serif;
}

.expandable-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.expandable-list li {
    background-color: #b8b7b7fd;
    margin: 50px auto; /* Aumenta el espacio entre los elementos */
    padding: 50px;
    text-align: center;
    transition: transform 0.5s ease, background-color 0.5s ease;
    cursor: pointer;
    width: 200px; 
}

.expandable-list li:hover {
    transform: scale(1.2);
    background-color: #dddddd;
}

.expandable-list li img {
    display: block;
    margin: 0 auto; 

}

.deportivo, .jeepetas, .motos, .camionetas, .camion {
    background: transparent;
    height: 50px;
    width: 50px;
    border-radius: 10px;
    position: relative; 
    left: 60px;
    
}

.deportivo1, .jeepetas1, .motos1, .camionetas1, .camion1 {
    width: 110px;
    height: 100px;
    position: absolute;
    top: 0;
}
