body {
  font-family: Arial, Helvetica, sans-serif;
}

.cards {
  display: flex;
  flex-direction: column; /* Cambiar la dirección de la disposición a vertical */
  align-items: flex-start; /* Alinear las tarjetas a la izquierda */
  margin-left: 20px; /* Espacio desde el borde izquierdo */
  margin-top: 40px;

}

.flip-card {
  background-color: transparent;
  width: 400px;
  height: 250px;
  border: 1px solid #f1f1f100;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
  margin-bottom: 20px; /* Espacio entre las tarjetas */

}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.5s;
  transform-style: preserve-3d;

}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateX(180deg); /* Cambiar la rotación a lo largo del eje X */
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateX(180deg); /* Asegúrate de que la cara trasera esté girada */
}
